<ion-tabs class="tabs-icon-top tabs-light"  ng-controller="TabsCtrl" ng-class="{'tabs-item-hide': hideTabs}">

  <ion-tab title="相机" icon="ion-camera" href="#/tab/camera">
    <ion-nav-view name="camera"></ion-nav-view>
  </ion-tab>


  <ion-tab title="镜头" icon="ion-disc" href="#/tab/lens">
    <ion-nav-view name="lens"></ion-nav-view>
  </ion-tab>

  <ion-tab title="关于" icon="icon ion-information-circled" href="#/tab/account">
    <ion-nav-view name="account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
