.main-view{
	background:#f5f5f5;
	.main-list-card{
		margin:10px;
		box-shadow: none;
		border:1px solid #eee;
		.item-avatar{
			padding-left: 120px;
			img{
				width: 80px;
				height:60px;
				max-width:none;
				max-height:none;
				border-radius: 0;
			}
		}
	}
	.item-label{
		width: 80px;
		text-align: right;
		margin-right: 10px;
	}
}
