<ion-view title="{{data.name}}">
  <ion-content class="has-header">
    <div class="list card" ng-if="data">

    <div class="item" ng-if="data.name">
      <h2>{{data.name}}<span ng-if="data.isHalt" class="item-note">已停产</span></h2>
      <p ng-if="data.productType">{{data.productType}}</p>
    </div>

    <div class="item item-image" ng-if="data.imageUrl">
      <img src="{{data.imageUrl}}">
    </div>
    <p class="item" ng-if="data.price">
      参考价格：<span class="item-note">约 &yen;{{data.price}} </span>
    </p>
    <p class="item" ng-if="data.publishDate">
      生产日期：<span class="item-note">{{data.publishDate}} </span>
    </p>
    <p class="item" ng-if="data.pixel">
      有效像素：<span class="item-note">{{data.pixel}} 万</span>
    </p>
    <p class="item" ng-if="data.sensorSize">
      传感器尺寸：<span class="item-note">{{data.sensorSize}} </span>
    </p>
    <p class="item" ng-if="data.sensor">
      传感器类型：<span class="item-note">{{data.sensor}} </span>
    </p>
    <p class="item" ng-if="data.focusPoints">
      对焦点数：<span class="item-note">{{data.focusPoints}} 点</span>
    </p>
    <p class="item" ng-if="data.shutterSpeed">
      快门速度：<span class="item-note">{{data.shutterSpeed}} </span>
    </p>
    <p class="item" ng-if="data.processor">
      影像处理器：<span class="item-note">{{data.processor}} </span>
    </p>
    <p class="item" ng-if="data.lcd">
      显示屏尺寸：<span class="item-note">{{data.lcd}} 英寸</span>
    </p>
    <p class="item" ng-if="data.maxPixcels">
      最高分辨率：<span class="item-note">{{data.maxPixcels}} </span>
    </p>
    <p class="item" ng-if="data.weight">
      产品重量：<span class="item-note">{{data.weight}} g </span>
    </p>
    <p class="item" ng-if="data.size">
      外形尺寸：<span class="item-note">{{data.size}} </span>
    </p>

  </div>
  </ion-content>
</ion-view>
