<ion-view title="镜头" class="main-view">
  <ion-content class="has-header">
  <div class="list card main-list-card" ng-if="data" ng-repeat="one in data">
    <a class="item item-avatar" ng-click="go(one.$id)" href="javascript:void(0)">
      <img src="{{one.imageUrl}}">
      <h2>{{one.name}}</h2>
      <p class="tag-wrap">
          <span class="tag" ng-if="one.usage">{{one.usage}}</span>
          <span class="tag" ng-if="one.purpose">{{one.purpose}}</span>
          <span class="tag" ng-if="one.maxAperture">{{one.maxAperture}} - {{one.minAperture}}</span> 
          <span class="tag tag-assertive" ng-if="one.price">&yen; {{one.price}}</span></p>
    </a>
  </div>
  <div class="empty-result" ng-if="!data.length && loaded">没有找到结果</div>
  <ion-infinite-scroll
    on-infinite="refresh()"
    distance="1%">
  </ion-infinite-scroll>
  </ion-content>
</ion-view>
