<ion-view title="关于我们">
  <ion-content class="has-header">

      <div class="page-about">
        <h5>「明室」专注于发现摄影之美。</h5>
        <br>
        <h4 class="title">查查信息</h4>
        <p>那款镜头最大光圈是多少来着？马上查出来，价格及各种参数一目了然！</p>
        <h4 class="title">租租器材</h4>
        <p>你还在攥钱买器材吗，「摄影毁一生，单反穷三代」，我们不作器材党！随用随租岂不更好？</p>
        <h4 class="title">谈谈经验</h4>
        <p>我们在这里只论摄影，不谈其他。</p>

        <br> 
        <h4>更多问题及意见反馈</h4>
        <p>欢迎关注我们的微信公众号: mingroom</p>
        <p>我们的微博是： @明室App工作室</p>
        <p>我们的网站是： http://www.mingroom.com/</p>
      </div>
  </ion-content>
</ion-view>
